body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    width: 90%;
    margin: 20px auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

input[type="text"],
input[type="number"] {
    width: 150px;
    padding: 5px;
    margin: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

button.edit,
button.delete {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.edit:hover,
button.delete:hover {
    background-color: #0056b3;
}

button.move {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.move:hover {
    background-color: #ec971f;
}

#addRowForm {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 100%;
}

#addRowForm h3 {
    margin-bottom: 20px;
}

button.save {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.save:hover {
    background-color: #218838;
}
